body{
    background-color: aliceblue;
}
.section-banner{
    background-color: aliceblue;
}

.upload-section{
    border-radius: 30px;
    border-style: dashed;
    border-width: 2px;
    padding: 15px;
}

.juxtapose{
    max-width: 450px;
    margin: auto;
}

.table,
.table tr,
.table td {
    background-color: white !important;
}